<h1><%= @user.name %></h1>
<hr>
<h2>User ID :<%= @user.id.to_s %></h2>
<br>
<ul>
  <li>
    <% if @user.name.present? %>
      Name: <%= @user.name %> -
    <% end %>
    <% if @user.mail.present? %>
      e-mail: <%= @user.mail %>
    <% end %>
  </li>
</ul>
<br>
<a href="/users">Back to users list</a>
<br>
<a href="/users/<%= @user.id %>/products">Products list></a>
